<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>generos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">generos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="name" type="text" (focus)="clearGenderPrediction()"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="predictGender()">Predecir Género</ion-button>

  <ion-card *ngIf="genderPrediction">
    <ion-card-header>
      Resultado
    </ion-card-header>
    <ion-card-content>
      Nombre: {{ name }}
      <br>
      Género: {{ genderPrediction.gender }}
      <br>
      <div *ngIf="genderPrediction">
       <img style="width: 60px; height: 60px;" [src]="genderPrediction.gender === 'female' ? 'assets/SexoF.png' : 'assets/SexoM.png'" alt="Gender Image">
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
